 .my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999;
 }

 body {
    text-align: center;
    align-items: center;
 }

 .line {
    height: 6px;
    background-color: #000000;
    width: 70px;
    margin: 8px auto;
 }

 #profileimg {
    border-radius: 50%;
    width: 300px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
 }

 h1 {
    text-shadow: 2px 2px #6bfc03;
    font-size: 50px;
 }

 p {
    font-size: 30px;
    font-family: cursive;
 }

 h2 {
    font-size: 50px;
 }

 #home-s    {
    background: linear-gradient(#fca103 0%, #10e8cf 100%);
    height: 550px;
    position: relative;
 }

 #about {
    background: linear-gradient(#ff8f6b 0%, #dddddd 100%);
    display: table;
    position: relative;
    padding-top: 19px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
 }

 #hobbies {
    background: linear-gradient(#fc0320 0%, #be03fc 100%);
    position: relative;
    display: table;
    padding-top: 19px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
 }

 #skills {
    background: linear-gradient(#03fc94 0%, #fc6703 100%);
    position: relative;
    display: table;
    padding-top: 19px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
 }

 #work {
    background: linear-gradient(#68D9FF 0%, #6CD67B 100%);
    width: 100%;
    position: relative;
    align-content: center;
    display: table;
    padding-top: 19px;
    font-family: 'Roboto', sans-serif;
 }

 #videos {
    background: #eec310;
    width: 100%;
    position: relative;
    display: table;
    padding-top: 19px;
    font-family: 'Roboto', sans-serif;
 }

 #contact {
    background: linear-gradient(#12c427 0%, #be03fc 100%);
    width: 100%;
    position: relative;
    display: table;
    font-family: 'Roboto', sans-serif;
 }

 .menu {
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    margin-top: 0px;
    background-color: white;
 }

 .links {
    padding-left: 9px;
    padding-right: 9px;
    font-family: cursive;
    font-size: 20px;
    display: inline;
    
 }

 .links:hover {
    font-size: 25px;
    text-decoration: underline;
 }

 .items {
    font-size: 30px; 
    color: black;   
 }

 .items:hover {
  background-color: dodgerblue;  
 }

 #viewc {
    color: lightgreen;
 }

 .contact_1 a{
    color: white;
    text-shadow: none;
    text-decoration: none;
 }

 .contact_1 h3{
    display: inline;
 }

 #smenu{
    background-color:deeppink;
 }

 #version{
    font-size: small;
 }

 #copy{
    font-size: small;
 }

 .youtube_button{
    color: crimson;
 }

 .list{
    color: lightgreen;
 }

 .banner{
    color:#000000;
    background-color: #15c5e8;
 }


 #videos h3{
     font-size: 40px;
 }

 .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 50.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #videos a{
      font-size: 20px;
  }

    p{
  font-family: 'Roboto', sans-serif;
  }

  .contact_items{
      padding-bottom: 10px;
  }

  section {
      border-width: 2px;
      border-style:solid;
      border-color: black;
  }

  #about p{
    color: mediumslateblue;
 }

 #hobbies p{
    color: lime;
 }

 #skills p{
    color:blue;
 }

 #videos h3{
    color:crimson;
 }

 h2{
    font-weight: bold;
 }
 
 #img_coding{
     height: 65%;
     width: 65%;
 }

 #img_rubiks{
     height: 35%;
     width: 35%;
 }