body{
    text-align: center;
    background-color: lightskyblue;
}

.items{
    text-align: left;
}
.line {
    height: 6px;
    background-color: #000000;
    width: 70px;
    margin: 8px auto;
}