:root {
  --default_font_family: "Inter", sans-serif;
  --section_padding_top: 19px;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient-4);
  background-size: cover;
  background-position: center;
  font-family: "roboto", sans-serif;
}

h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 50px;
}

.logout {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: #000;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  border: none;
}
.home {
  position: absolute;
  top: 10px;
  right: 75px;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: #000;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  border: none;
}

/*Footer Code*/
footer {
  background: #111;
  height: auto;
  width: 100vw;
  font-family: var(--default_font_family);
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  font-weight: 800;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  margin-right: 30px;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 5px;
}
.footer-bottom p {
  font-size: 14px;
  font-weight: 500;
}

/*Scroll Bar Code*/

::-webkit-scrollbar {
  width: 1.5em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(red, blue);
  border: 0.25em solid white;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 10% / 1);
}

@supports (scrollbar-color: lightgreen DarkGreen) {
  * {
    scrollbar-color: hsl(120 100% 20% / 1) hsl(120 75% 50% / 1);
  }
}

/*Item Selection*/
::selection {
  background-color: black;
  color: var(--gray-0);
}

.footer-text::selection {
  background-color: white;
  color: black;
}

img::selection {
  background-color: #3390ff;
  color: var(--gray-0);
}

iframe::selection {
  background-color: #3390ff;
  color: var(--gray-0);
}
/***End Of Code***/
